In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib as mpl
mpl.rc('font',family='Malgun Gothic')

df_TOCC = pd.read_csv('../../datasets/TypeOfContractChannel.csv')
df_TOCC

,id,type_of_contract,type_of_contract2,channel,datetime,Term,payment_type,product,amount,state,overdue_count,overdue,credit rating,bank,cancellation,age,Mileage
0,66758234,렌탈,Normal,서비스 방문,2019-10-20,60,CMS,K1,96900,계약확정,0,없음,9.0,새마을금고,정상,43.0,1862.0
1,66755948,렌탈,Extension_Rental,서비스 방문,2019-10-20,60,카드이체,K1,102900,계약확정,0,없음,2.0,현대카드,정상,62.0,2532.0
2,66756657,렌탈,Normal,홈쇼핑/방송,2019-10-20,60,CMS,K1,96900,계약확정,0,없음,8.0,우리은행,정상,60.0,2363.0
3,66423450,멤버십,TAS,렌탈재계약,2019-10-20,12,CMS,K1,66900,계약확정,0,없음,5.0,농협은행,정상,60.0,2449.0
4,66423204,멤버십,TAS,렌탈재계약,2019-10-20,12,CMS,K1,66900,해약확정,12,있음,8.0,농협은행,해약,51.0,1942.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51299,66579515,NaN,Promotion,R관리방판,2020-02-03,60,무통장,K3,96900,계약확정,0,없음,NaN,롯데카드,정상,NaN,NaN
51300,66799558,렌탈,Normal,영업방판,2020-02-03,60,카드이체,K1,96900,해약확정,0,없음,8.0,롯데카드,해약,39.0,1753.0
51301,66799197,렌탈,Promotion,홈쇼핑/방송,2020-02-03,39,무통장,K5,120900,해약확정,0,없음,1.0,NaN,해약,51.0,2217.0
51302,66792778,NaN,Normal,렌탈총판,2020-02-03,60,카드이체,K1,96900,계약확정,0,없음,2.0,신한카드,정상,64.0,2588.0
51303,66799607,렌탈,Normal,하이마트,2020-02-03,60,CMS,K1,96900,해약확정,0,없음,8.0,농협은행,해약,53.0,2130.0

귀무가설: 계약유형에 따라 해약여부가 달라지지 않는다. 
대립가설: 계약유형에 따라 

#분석 결론
- 통계 결론 :
- 사실 결론 :

In [4]:
df_TOCC[['type_of_contract', 'cancellation']].describe()

       type_of_contract cancellation
count             51300        51279
unique                2            2
top                  렌탈           정상
freq              46481        50372

In [5]:
df_TOCC.category = df_TOCC[['type_of_contract', 'cancellation']]

C:\Users\04-02\AppData\Local\Temp\ipykernel_6636\939503705.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df_TOCC.category = df_TOCC[['type_of_contract', 'cancellation']]

In [6]:
df_TOCC_category_pivot = pd.pivot_table(data=TOCC, index='type_of_contract' , columns='cancellation', aggfunc=len)
df_TOCC_category_pivot

NameError: name 'TOCC' is not defined

In [7]:
import scipy
scipy.__version__
import scipy.stats as stats

In [9]:
stats.chi2_contingency(observed=df_TOCC_category_pivot, correction=True )

NameError: name 'df_TOCC_category_pivot' is not defined